html{
    overflow: auto; 
    
}
body{
    text-align: center;
    overflow: auto;
    background-color: #FDFEFE ;
}
/*.row{
    text-align: inherit;
    
}*/
h2 {
    font-weight: bold;
}

p {
    font-size: 150%;
}


img {
    max-width: 90%;
    max-height: 90%;
    display: inline-flex;
}

.thumbnail {
	position: relative;
    top: 230px;
    left: 45%;
    
    width: 90%;
    height: 90%;

    
    margin: 50px;
    
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.image {
    top: 10%;
    width: 100%;
    height: 100%;    
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}
