body  {
background-color: #bfbfbf;
overflow-x: hidden; 
min-height: 100%;
}
h1 {
font-size: 2.4vh;
text-align: center;
font-weight: bold;	
border: 1px ;
margin: 1px;
padding: 1px;	
margin-left: auto;
margin-right: auto;	
}
h1.HeaderMobile {
font-size: 2.4vh;
text-align: left;
font-weight: bold;	
border: 1px ;
margin: 1px;
padding: 1px;	
margin-left: auto;
margin-right: auto;	
width: 95%; 
}
h2 {
text-align: middle;
font-size: 2.4vh;
font-weight: bold;
width: 75%; 
border: 1px ;
margin: 1px;
padding: 1px;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
h3 {
text-align: left;
font-size: 2.4vh;
font-weight: bold;
border: 1px ;
text-align:left; 
margin: 1px;
padding: 1px;
width: 75%; 
height: 25%;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
h4 {
text-align: left;
font-size: 2.4vh;
font-weight: bold;
}
p.intro {
font-size: 1.8vh;
border: 1px ;
text-align:center; 
margin: 1px;
padding: 1px;
width: 40%; 
height: 30%;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
p.introMobile {
font-size: 2.1vh;
border: 1px ;
text-align:left; 
margin: 1px;
padding: 1px;
width: 95%; 
height: 70%;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
p.COOP {
font-size: 1.8vh;
border: 1px ;
text-align:left; 
margin: 1px;
padding: 1px;
width: 50%; 
height: 25%;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
p.AboutMe {
font-size: 1.8vh;
border: 1px ;
text-align:left; 
margin: 1px;
padding: 1px;
width: 75%; 
height: 25%;
overflow: auto;
margin-left: auto;
margin-right: auto;
}
img.HomeImg
{
  width:15%;
  height:15%;"
}
img.HomeImgMobile
{
  float:left;
  width:25%;
  height:25%;"
}
div.container {
width: 100%;	
border: 0px;
}
div.centerimage {
float: middle;
max-width: 300px;
margin: 0;
padding: 10px;
margin-left: auto;
margin-right: auto;
}
div.Project{
float: middle;
max-width: 100%;
padding: 10px;
margin-left: 15%;
margin-right: 15%;
}
header {
color: white;
background-color: #2F2E2E;
clear: left;
text-align: center;
}
#footer
{
font-size: 1.6vh;
color: white;
background-color: #2F2E2E;
clear: left;
text-align: center;
position:fixed;
bottom:0px;
left:0px;
right:0px;
margin-bottom:0px;
}
a:link {
text-decoration: none;
}
button.launch {
background-color:#2F2E2E;
border:#3b3f44;
font-size: 2.2vh;
width: 13%;
height: 50px;
overflow:hidden;
}
button:focus {outline:0;}
.center {
padding: 5% 0;
}
