body  {
    background-color: #bfbfbf;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}
h2 {
    text-align: middle;
	font-size: 20px;
	font-weight: bold;
	width: 75%; 
    border: 1px ;
	margin: 1px;
    padding: 1px;
    overflow: auto;
 	margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: left;
	font-size: 20px;
	font-weight: bold;
    border: 1px ;
  	text-align:left; 
	margin: 1px;
    padding: 1px;
	width: 75%; 
	height: 25%;
    overflow: auto;
 	margin-left: auto;
    margin-right: auto;
}
h4 {
    text-align: left;
	font-size: 20px;
	font-weight: bold;
}
p.intro {

    border: 1px ;
  	text-align:center; 
	margin: 1px;
    padding: 1px;
	width: 40%; 
	height: 30%;
    overflow: auto;
 	margin-left: auto;
    margin-right: auto;

}
p.AboutMe {
	font-size: 15px;
    border: 1px ;
  	text-align:left; 
	margin: 1px;
    padding: 1px;
	width: 75%; 
	height: 25%;
    overflow: auto;
 	margin-left: auto;
    margin-right: auto;
}
div.container {
    width: 100%;	
    border: 0px;
}

div.centerimage {
     float: middle;
    max-width: 300px;
    margin: 0;
    padding: 10px;
	margin-left: auto;
    margin-right: auto;
}

div.Project{
    float: middle;
    max-width: 100%;
    padding: 10px;
	margin-left: 15%;
    margin-right: 15%;
}

header{
    color: white;
    background-color: #2F2E2E;
    clear: left;
    text-align: center;
}
footer {
    color: white;
    background-color: #2F2E2E;
    clear: left;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}
a:link {
    text-decoration: none;
}

button.launch {
background-color:#2F2E2E;
border:#3b3f44;
font-size: 20px;
width: 13%;
height: 50px;
	}
	
button:focus {outline:0;}
	
.center {
    padding: 5% 0;
}
